<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.-->

<menu></menu>
<div id="wrapper" ng-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h1 id="broth_title" style="font-family:Oswald , serif;" align="center" >Carrito de la compra</h1>
                </div>
                    <div id="carritovacio" class="panel-body" > Tu carrito esta vacio</div>
                    <div class="panel panel-default">
                    <div class="row">
                        <div class="col-xs-12 ng-scope">
                            </br></br>
                                <table align="center" id="carritoTable" class="table  table-responsive table-bordered table-hover table-striped table-condensed dataTable no-footer">
                                <thead></thead>
                                <tbody>
                               
                                <th>Tipo de Producto</th>
                                <th>Autor</th>
                                <th>Producto</th>            
                                <th>Precio</th>                
                                <th>Cantidad</th>
                                <th>Opciones</th>
                                <tr ng-repeat="oBean in page">

                                    <td><div><b>{{oBean.obj_producto.data.obj_tipoproducto.data.descripcion}}</b></div></td>
                                    <td><div><b>{{oBean.obj_producto.data.obj_autor.data.descripcion}}</b></div></td>
                                    <td><div><b>{{oBean.obj_producto.data.descripcion}}</b></div></td>                                   
                                    <td><div><b>{{oBean.obj_producto.data.precio}}€</b></div></td>
<!--                                    <td><div><img src="{{oBean.obj_producto.data.imagen}}" alt width="150" height="75"></img></div></td>-->
                                    <td><div><b>{{oBean.cantidad}}</b></div></td>
                                    
                                    <td ng-init="setShowRemove(true)" ng-repeat="oMetap in metap" class="text-right">
                                        <div class="text-center">{{oBean[oMetap.descripcion]}}</div>
                                        <div class="text-center">{{oBean[oMetap.Name]}}</div>
                                        <div class="text-left">{{oBean[oMetap.Name]|clipString}}</div>
                                        <div class="text-left">{{oBean[oMetap.Name]|clipString}}</div>
                                        <div class="text-center" ng-bind-html="oBean[oMetap.Name] | booleanizate"></div>
        
                                        <div ng-if="oMetap.IsVisible && oMetap.Type == 'Link'" class="text-center">
                                            <a ng-if="oBean[oMetap.Name] > 0" class="btn btn-default btn-xs" href="{{oMetap.References}}/{{profile}}/x{{ob}}/plistx/{{oBean['id']}}">{{setShowRemove(false);oBean[oMetap.Name]}}</a>
                                            <a ng-if="oBean[oMetap.Name] == 0" class="btn btn-default btn-xs" href="{{oMetap.References}}/{{profile}}/x{{ob}}/newx/{{oBean['id']}}">{{setShowRemove(true);oBean[oMetap.Name]}}</a>
                                        </div>
                                    </td> 
                                    <td ng-if="!xob && !onlyview && !veredit" class="col-md-1">
                                        <div class="btn-toolbar" role="toolbar">
                                            <a class="btn btn-default btn-xs" title="Remove" href="{{ob}}/removeproducto/{{oBean.obj_producto.data.id}}">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                        </div>
                        <a class="glyphicon glyphicon-trash btn btn-danger " id="vaciar" style="float: right " href="{{ob}}/empty/"> Vaciar</a>
                        <a class="glyphicon glyphicon-shopping-cart btn btn-primary" id="comprar" style="float: right " href="{{ob}}/buy/"> Comprar</a>

                    </div>
<!--                </div>-->
            </div>
        </div>
        <div class="panel-footer" style="font-family: Questrial, serif;" ng-include="'js/system/include/footer.html'"></div>
  